<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="description"
      content="Django Todos is a multi-user task management application with authentication and private todo tracking."
    >
    <title>
        {% block title %}
        Django Todos
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body class="app-shell">
    {% include "_partials/header.html" %}
    <main class="ui container app-content">
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
