{% extends "_partials/base.html" %}
{% load static %}

{% block title %}
Register | Django Todos
{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid auth-page">
  <div class="sixteen wide mobile ten wide tablet six wide computer column">
    <div class="auth-card">
      <h2 class="ui teal image header">
        <img src={% static 'img/Logo.png' %} class="image" alt="Django Todos logo" />
        <div class="content">Create an account</div>
      </h2>

      {% include '_partials/messages.html'%}

      <form class="ui large form" method="post" action={% url 'register' %}>
        {% csrf_token %}
        <div class="ui stacked segment">
          <div class="field{% if form.username.errors %} error{% endif %}">
            <div class="ui left icon input">
              <i class="user icon"></i>
              {{ form.username }}
            </div>
          </div>

          <div class="field{% if form.email.errors %} error{% endif %}">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              {{ form.email }}
            </div>
          </div>
          <div class="field{% if form.password.errors %} error{% endif %}">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              {{ form.password }}
            </div>
          </div>

          <div class="field{% if form.password2.errors %} error{% endif %}">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              {{ form.password2 }}
            </div>
          </div>
          <button class="ui fluid large teal submit button">Create account</button>
        </div>
      </form>

      <div class="ui message">Have an account? <a href={% url 'login'  %}>Login</a></div>
    </div>
  </div>
</div>
{% endblock content %}
